.editor-header {
  border: 1px solid var(--el-border-color-base);
  border-bottom: none;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
  .el-button {
    margin-left: 10px;
  }
}

.editor-container {
  --editor-min-height: 600px;

  .md {
    min-height: var(--editor-min-height);
  }

  .editor-blog {
    width: 100%;
    height: 400px;
    position: relative;
    min-height: var(--editor-min-height);
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI Variable, Segoe UI,
      system-ui, ui-sans-serif, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji";
  }
}
